
   header {
    font-size: small;
}

#map {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
         
  }
  
  #menu {
    padding: 10px;
    
  }
  
    .col-lg-12 {
    background-color: rgb(117, 115, 139);
    color: white;
    text-align: center;
    page-break-inside: 5px;
  }

  .col-lg-8 {
    
    text-align: center;
    page-break-inside: 5px;
     }
  
  #resetButton {
      border: none;
      color: rgb(20, 14, 1);
      background-color: rgb(42, 165, 165);
      padding: 5px;
      outline: 1px;
      width: 140px;
  }
  
  #resetButton:active {
    transform: translateY(3px);
    
 }
    
  #resetButton:after {
     border: none;
  }
   
  h4 {
    padding-bottom: 18px;
    text-align: center;
}

h6 {
    text-align: center;
}
  
   
 
   footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
  
   p {
       margin: 6px;
   }
 
  
  #map > img {
    max-width: 36px;
    max-height: 36px;
  }
  
 